/* Header */
header {
    background-color: #152238; /* Set header background color to #152238 */
    color: white; /* Set text color to white */
    padding: 10px 20px; /* Adjust padding for better spacing */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items to start and end */
    align-items: center; /* Center items vertically */
    height: 20px; /* Decrease the height of the header */
    position: absolute; /* Position header absolutely */
    top: 50px; /* Position below navigation bar */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
}

/* Navigation bar */
.navigation {
    background-color: rgba(21, 34, 56, 0.5); /* Background color with transparency */
    overflow: hidden;
    position: absolute; /* Set position to absolute */
    top: 0; /* Align to the top */
    right: 20px; /* Align to the right with a margin */
    transform: translateY(-50%); /* Adjust position vertically */
    font-size: 17px; /* Set font size */
    padding: 0; /* Remove padding */
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
}

.navigation ul li {
    margin-left: 20px; /* Add some spacing between navigation items */
}

.navigation ul li a {
    color: white; /* Set font color to white */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for font color */
    font-family: 'Barbie', cursive; /* Barbie font */
    padding: 10px; /* Add padding for better spacing */
}

/* Override hover effect for all child elements of the header */
header *:hover {
    background-color: inherit !important; /* Set background color to its default state */
    color: inherit !important; /* Set text color to its default state */
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: transparent; /* Set text color to transparent */
    background-image: linear-gradient(to right, #87CEEB, #E4E5E6); /* Gradient background from white to sky blue */
    -webkit-background-clip: text; /* Apply gradient to text */
    font-family: 'Barbie', cursive; /* Barbie font */
}

/* Footer */
footer {
    background-color: #152238; /* Set footer background color to #152238 */
    color: rgb(0, 0, 0); /* Set text color to black */
    padding: 10px 20px; /* Adjust padding for better spacing */
    height: 50px; /* Decrease the height of the footer */
}

footer:hover {
    background-color: rgba(21, 34, 56, 0.7); /* Change background color on hover */
}
